.navbar-links {
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 60px;
  background-color: #f0f0f0;
  width: 100%;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 30px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.navbar-links a:hover {
  color: #918484;
}

.navbar-links.open {
  transform: translateX(0);
}